{% extends 'app.html' %}

{% block content %}
  <h1 class="gradient-text title-with-padding">{{title}}</h1>
  {% if not vote_variants %}
    <form id="app" ref="form" @submit="checkForm" method="post">
      {% csrf_token %}
      {% for item in form %}
      <div class="mb-3">
          <label class="form-label">{{ item.label }}</label>
                <div>{{item}}</div>
          </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary gradient-background" style="border: none;">{{btn}}</button>
      {{ form.errors }}
    </form>
  {% else %}
  <form id="app" ref="form" @submit="checkForm" method="post">
    {% csrf_token %}
    {% for item in form %}
               {{ item.as_hidden }}
      {% endfor %}
        {% for vote in vote_variants %}
         <div class="mb-3">
        <label class="form-label">{{ vote.label }}</label>
              {{ vote }}
         </div>
       {% endfor %}
    <button type="submit" class="btn btn-primary gradient-background" style="border: none;">{{btn}}</button>
    {{ form.errors }}
  </form>
  {% endif %}
{% endblock %}
