{% extends 'app.html' %}
{% block content %}
  <h1 class="gradient-text title-with-padding">{{title}}</h1>
  {% if not vote_variants %}
    <form id="app" ref="form" @submit="checkForm" method="post">
      {% csrf_token %}
      {{form.variant_count.as_hidden}}
      <div class="mb-3">
          <label class="form-label">{{ form.title.label }}</label>
                <div>{{form.title}}</div>
          </div>
      <div class="mb-3">
          <label class="form-label">{{ form.description.label }}</label>
                <div>{{form.description}}</div>
          </div>
      <div class="mb-3">
          <label class="form-label">{{ form.start_time.label }}</label>
                <div>{{form.start_time}}</div>
          </div>
      <div class="mb-3">
          <label class="form-label">{{form.end_time.label }}</label>
                <div>{{form.end_time}}</div>
          </div>
      <button type="submit" class="btn btn-primary gradient-background" style="border: none;">{{btn}}</button>
      {{ form.errors }}
    </form>
  {% else %}
  <form id="app" ref="form" @submit="checkForm" method="post">
    {% csrf_token %}
    {% for item in form %}
               {{ item.as_hidden }}
      {% endfor %}
        {% for vote in vote_variants %}
         <div class="mb-3">
        <label class="form-label">{{ vote.label }}</label>
              {{ vote }}
         </div>
       {% endfor %}
    <button type="submit" class="btn btn-primary gradient-background" style="border: none;">{{btn}}</button>
    {{ form.errors }}
  </form>
  {% endif %}
{% endblock %}
