{% extends 'app.html' %}
{% block content %}
  <h1 class="gradient-text title-with-padding">Login</h1>
  <form id="app" ref="form" @submit="checkForm" method="post">
    {% csrf_token %}
   {% for field in form %}
      <div class="mb-3">
        <label class="form-label">{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}
    <div class="mb-3 form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
      <label class="form-check-label" for="flexCheckCheckedDisabled">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endblock %}
