{% extends 'app.html' %}
{% block content %}
  <h1 class="gradient-text title-with-padding">Registration</h1>
  <form id="app" ref="form" @submit="checkForm" method="post">
    {% csrf_token %}
    <div style="margin-top: 20px;">
      {% if error %}
      <div v-for="error in errors" class="alert alert-danger" role="alert">
        [[ error ]]
      </div>
      {% endif %}
    </div>
    {% for field in form %}
      <div class="mb-3">
        <label class="form-label">{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary gradient-background" style="border: none;">Создать</button>
  </form>
{% endblock %}
