body {
  padding: 0px;
  font-family: Roboto, sans-serif;
  font-size: medium;
  color: white;
  background-color: black;
}

main {
  margin: auto;
  margin-top: 80px;
  /*padding: 10px;*/
}

footer {
  height: 83px;
  margin: auto;
  margin-top: 93px;
  margin-bottom: 82px;
  line-height: 83px;
  border-top: 1px solid #7f7f7f;
  color: #7f7f7f;
}

footer span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

@media screen and (min-width: 721px) {
  main {
    font-size: 16px;
    min-width: 691px;
    width: 60%;
  }
  footer {
    width: 75%;
  }
  body {
  }
  .title {
    margin-top: 50px;
    width: 74%;
  }
  .main_text_block {
    width: 74%;
    padding: 10px;
  }
}

@media screen and (max-width: 720px) {
  main {
    font-size: 60%;
    width: 100%;
  }
  footer {
    font-size: 60%;
    width: 100%;
  }
  body {
    /*width: 100%;*/
  }
  .title {
    width: 90%;
    min-width: 300px;
  }
}

.title {
  padding-top: 50px;
}

h1 {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
  font-size: 3.9em;
  /*text-transform: capitalize;*/
  position: relative;
}

.title-with-padding {
  padding: 20px 0;
}

h2 {
  /*text-transform: capitalize;*/
  margin: auto;
  font-size: 3.9em;
  z-index: 100;
  position: relative;
}

h3 {
  margin-top: 0.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8em;
  font-size: 3em;
  background: linear-gradient(to right, rgba(6, 99, 132, 0.8) 0%, rgb(67, 133, 151) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text {
  background: linear-gradient(to right, rgba(6, 99, 132, 0.8) 0%, rgb(67, 133, 151) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-background {
  background: linear-gradient(to right, rgba(6, 99, 132, 0.8) 0%, rgb(67, 133, 151) 100%);
}

.main_text_block {
  margin: auto;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 2em;
}

.center-btn {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.logo {
  top: -8em;
  width: 16em;
  height: 16em;
  position: relative;
  margin: auto;
  bottom: -8em;
  border-radius: 30px;

  background-color: rgba(255, 255, 255, 0.25);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-35deg) skew(25deg);
}

.logo-field {
  top: 3em;
  left: 8em;
  width: 2.5em;
  height: 7em;
  position: relative;
  margin-left: 4em;
  bottom: -8em;
  border-radius: 30px;
  opacity: 0.99;
  /*display: inline-block;*/
  background-color: black;
  z-index: 0;
}

.logo-2 {
  top: -4em;
  left: 3.5em;
  height: 10em;
}

.logo-3 {
  top: -13.5em;
  left: -1em;
  height: 3em;
}

.bg-black {
  background-color: black;
}

table a {
  text-decoration: none;
}
